{% extends "base.html" %}
{% load static %}

{% block content %}
    <h3 class="text-center header-font">Latest Additions</h3>
    <hr class="w-50 mb-1 center">
    <div class="container addition-container w-100 bg-second">
        <div class="row mt-1 mb-3"></div>
        <div class="row h-100 w-100">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                    <div class="card h-100 border-0">
                        <a href="{% url 'product_detail' product.id %}" class="img-container">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.sku }}">
                        </a>
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.sku }} by {{ product.artist.name }}</p>
                        </div>
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left fw-bold">From ${{ product.base_price }}</p>
                                    {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star me-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-3">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-3">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-3">
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row w-100">
        <a href="{% url 'products' %}" class="btn bg-second center btn-width mt-2">See More</a>
    </div>
    
{% endblock %}