{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="header-font mb-4">Shopping Basket</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if basket_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "basket/basket-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "basket/checkout-buttons.html" %}
                            <p class="text-muted mb-5">A summary of your basket contents is below</p>
                        </div>
                    </div>
                    {% for item in basket_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "basket/product-image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "basket/product-info.html" %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">Price Each: ${{ item.product.base_price | calc_sizeprice:item.size }}</p>
                                <p><strong>Subtotal: </strong>${{ item.product.base_price | calc_sizeprice:item.size | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "basket/quantity-form.html" %}
                            </div>
                        </div>
                        <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                    <div class="btt-button shadow-sm rounded-0 border border-black">
                        <a class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                        </a>	
                    </div>
                </div>
                <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "basket/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "basket/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.base_price | calc_sizeprice:item.size }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "basket/quantity-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.base_price | calc_sizeprice:item.size | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Basket Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "basket/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-main rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/quantity_input_script.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/basket_update.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/btt.js' %}" type="text/javascript"></script>
{% endblock %} 