html {
    height: 100%;
}

body {
    font-family:  "Dosis", "Helvetica", "sans-serif";
    height: calc(100vh - 120px);
}

.header-font {
    font-family: "Abril Fatface", "Rockwell", "serif";
    text-transform: uppercase;
}

.bg-main {
    background-color: #f9b87b;
}

.bg-second {
    background-color: #7bbcf9;
}

.text-second-dark {
    color: #49a3f7;
}

.main-content {
    min-height: calc(100vh - 120px - 50px);
    margin-top: 120px;
}

footer {
    height: 50px;
    width: 100%
}

.footer-row {
    display:flex;
}

.footer-row .socials {
    position:absolute;
    right:0.5%;
    font-size: 1.5em;
    text-align: right;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-white {
    border: 1px solid white !important;
}

.img-container {
    overflow: hidden;
    height: 200px;
}

.center {
    margin: auto;
}

.btn-width {
    width: 100px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 70px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 120px;
    }
}