<footer class="container-fluid bg-main">
    <div class="row footer-row d-flex align-items-center h-100">
        <div class="col col-md-3 copyright d-flex align-items-center h-100">
            <p class="pt-3">© 2022 Lavadax</p>
        </div>
        <div class="col col-md-3 socials">
            <a href="https://www.facebook.com/" target="_blank" aria-label="Link to our facebook page"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/" target="_blank" aria-label="Link to our twitter account"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</footer>